packaging
numpy<2
librosa
soundfile
pyyaml
argparse
onnxruntime
espnet==202412
pyroomacoustics
tensorboard
pesq
einops
torch==2.2.2
torchaudio==2.2.2
wandb
auraloss
torchmetrics
pesq
easydict
matplotlib
resampy
joblib
nnAudio
